{% extends "/templates/main_components/layout.html" %}

{% block resource %}
<link rel = "stylesheet" href = "/public/style/main-components/authentication.css">

<div class = "authentication-portion">
    <div class = "background-decoration">
        {% include "/templates/authentication/background-image.html" %}
    </div>
    
    <div id = "authentication">
        {% include "/templates/authentication/sign-up-form.html" %}
    </div>
    
    <div class = "about-ktur">
        {# describe what this app is, what it can do, what kind of problems can solve, etc. #}
    </div>
</div>
{% endblock %}