{% extends "/templates/main_components/layout.html" %}

{% block resource %}
<link rel = "stylesheet" href = "/public/style/main-components/authentication.css">
<script src = "/public/js/services/browser-services/Redirector.js"></script>

<div class = "authentication-portion">
    <div class = "background-decoration">
        {% include "/templates/authentication/background-image.html" %}
    </div>
    
    <div id = "authentication">
        <div class = "authentication-portion-composer">
            <div class = "authentication-prompt">
                {% include "/templates/authentication/authentication-prompt.html" %}
            </div>
            <div>
                {% block signUpForm %}
                {% endblock %}

                {% block logInForm %}
                {% endblock %}
            </div>
        </div>
    </div>
    
    <div class = "about-ktur">
        {# describe what this app is, what it can do, what kind of problems can solve, etc. #}
    </div>
</div>
{% endblock %}