@import url("/public/style/config/colors/main-colors.css");
@import url("/public/style/main-components/layout/nav-bar/searcher.css");

.ktur-footer
{
    background-color: var(--main-background-color);
    min-height: var(--nav-bar-height);
}

.footer-content
{
    width: 50%;
    margin-left: 25%;
    margin-top: 2rem;
    border-top: 2px solid black;
    padding-top: 1rem;
}

#author
{
    text-align: center;
}

#author > a
{
    padding: 1rem;
    color: var(--text-color-hover);
}

#author > a:hover
{
    color: red;
}

#author > span
{
    padding: 0.2rem;
    font-size: 1.5rem;
}