@import url("/public/style/config/colors/main-colors.css");
@import url("/public/style/main-components/layout/nav-bar/searcher.css");

.ktur-footer
{
    background-color: var(--main-background-color);
    min-height: var(--nav-bar-height);
}

.separater
{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
}