@import url("/public/style/config/ready-elements/button.css");

#comments
{
    margin-top: 5rem;
}

#comments > h2
{
    text-align: center;
}

#comments > #comment-imp-section
{
    width: 80%;
    margin-left: 10%;
}

#form-section > form > div
{
    margin-left: 27%;
    display: flex;
    flex-direction: column;
}

#commenting-area
{
    min-width: 700px;
    max-width: 700px
}