{% extends "/user/user.html" %}

{% block mainActionSection %}
    <div ng-controller = "UserStarsCtrl" id = "user-stars">
        {# css #}
        <link rel="stylesheet" href="/public/style/main-components/user/get-actions/user-stars/regular-star-repr.css">
        <link rel="stylesheet" href="/public/style/main-components/user/get-actions/user-stars/star-repr.css">
        {# script #}
        <script src = "/public/js/controllers/star/star-representation/abstract-factories/ind-house-abstract-factory.js"></script>
        <script src = "/public/js/controllers/star/star-representation/abstract-factory-products/regular-products/regular-element-creator.js"></script>
        <script src = "/public/js/controllers/star/star-representation/facotries/abstract-factory-creator.js"></script>
        <script src = "/public/js/controllers/star/star-representation/star-representation-data-fetcher/fetcher.js"></script>
        <script src = "/public/js/controllers/star/star-representation/statements-stars-representation.js"></script>
        <script src = "/public/js/controllers/star/user-stars/user-stars-ctrl.js"></script>
        {# html #}
        <h1>Independent Houses</h1>
        <div id = "ind_house">
        </div>
        {#<h1>Hotels</h1>
        <div id = "hotels">
        </div>#}
    </div>
{% endblock %}