<link rel = "stylesheet" href = "/public/style/main-components/layout/nav-bar.css">
{# factory products #}
{# authenticated #}
<script src = "/public/js/controllers/nav-bar/nav-bar-creation-products/authenticated-case/nav-bar-user-image-injector.js"></script>

{# un_authenticated #}
<script src = "/public/js/controllers/nav-bar/nav-bar-creation-products/un-authenticated-case/log-in.js"></script>
<script src = "/public/js/controllers/nav-bar/nav-bar-creation-products/un-authenticated-case/sign-up.js"></script>

{# factory #}
<script src = "/public/js/controllers/nav-bar/factory/factory.js"></script>

{# controller #}
<script src = "/public/js/controllers/nav-bar/nav-bar-controller.js"></script>
<div class = "nav-bar" ng-controller = "NavBarController">
    <div class = "home">
        <a href = "#">Home</a>
    </div>
    <div class = "researcher">
        <a href = "#">Research</a>
    </div>
    <div class = "searcher">
        {#{% block searcher %}
        {% endblock %}#}
        {% include "/templates/main_components/layout/nav-bar/searcher.html" %}
    </div>
    <div id = "user-notification">
        {# this will be included if user is authenticated #}
    </div>
    <div class = "authentication">
            <div class = "authenticated-user">
                <div id = "nav-bar-user-image">
                    <link rel="stylesheet" href="/public/style/main-components/layout/nav-bar/authentication/authenticated/user-image-portion.css">
                    {# 
                        if element is empty then that will not be rendered: will be included in hierarchy but 
                        will not be considered as element
                    #}
                </div>
                {# 
                    this portion will need also to render:
                    - hyperlink to authenticated user page
                    - image of user

                    HATEOAS constrain of RESTful API will be used:
                    - JSON format: e.g.
                        {
                            "user": {
                                [
                                "rel" : "self",
                                "href" : "path/to/user/page"
                                ],

                                [
                                "rel" : "image",
                                "href" :  "path/to/image"
                                ]
                            }
                        }
                     #}
            </div>
            <div class = "unsigned-user">
                <div id = "sign-up">
                </div>
                <div id = "log-in">
                </div>
            </div>
    </div>
</div>