@import url(/public/style/config/sizes/images.css);
@import url(/public/style/config/statement/main-colors.css);
@import url(/public/style/config/statement/sizes.css);

#image-section > div > img
{
    max-width: var(--statement-page-image);
}

#image-section
{
    padding : var(--image-box-padding);
    box-shadow: 0px 1px 1px #252425;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#image-section > div
{
    margin: 1rem;
}