<link rel="stylesheet" href="/public/style/main-components/user/post-actions/add-statement/tab-section.css">
<script src = "/public/js/controllers/user/post-action-controllers/add-statement/tab-controller/return-tab.js"></script>
<script src = "/public/js/controllers/user/post-action-controllers/add-statement/tab-controller/tab-controller.js"></script>
<div id = "statement-types" ng-controller = "TabController">
    <div class = "house used-tab" ng-click = "changeTab('house')">
        House
    </div>
    <div class = "apartment" ng-click = "changeTab('apartment')">
        Apartment
    </div>
    <div class = "hotel" ng-click = "changeTab('hotel')">
        Hotel
    </div>
    <div class = "hostel" ng-click = "changeTab('hostel')">
        Hostel
    </div>
</div>