@import url("/public/style/config/element-config/form-input.css");

:root
{
    --primary-button: #2cb94c;
    --primary-button-active: #279f43;
    --primary-button-text-color: #ffffff; 
    --secondary-button: #edf1f5;
    --button-border-radius: 0.2rem;
    --button-border: none;
    --button-height: var(--input-box-height);
    --button-padding: var(--input-padding);
    --button-min-width: 100px;
    --disabled-color: #34d857;
    
    /*action primary button*/
    --action-primary-button: rgb(28, 130, 236);
    --action-border-radius: 4px;
    --action-text-color: #ffffff;
    --action-width: 100px;
    --action-height: 30px;
    --action-padding: 10px;
}