@import url("/public/style/config/colors/main-colors.css");

#authentication
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -235px;
    width: 500px;
    max-height: 700px;
    background-color: var(--search-area-color);
    opacity: 0.95;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.authentication-portion-composer
{
    padding: 1em;
}