<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# CDN #}
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script data-main = "/public/js/requirejs/config" src = "https://requirejs.org/docs/release/2.3.6/comments/require.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    {# $interpolateProvider dependency of angularJS #}
    <script src = "/public/js/angular_config/interpolateProvider.js"></script>
    <link href ="/public/style/main-components/layout.css" rel = "stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body ng-app = "ktur">
    <header>
        {% include "/templates/main_components/layout/nav-bar.html" %}
    </header>
    
    <div class = "main-content">
        <div class = "resource">
            {# this stylesheet is ment for this block extenders #}
            <link rel = "stylesheet" href = "/public/style/main-components/layout/main-content.css">
            {% block resource %}
                {# 
                    this will be extended by child template,
                    which need to use 'block' keyword with corresponding name
                    and have to use extend keyword with corresponding path
                #}
            {% endblock %}
        </div>
    </div>
    
    <footer>
        {% include "/templates/main_components/layout/footer/footer.html" %}
    </footer>
</body>
</html>