<link rel="stylesheet" href="/public/style/main-components/user/get-actions/user-get-actions.css">
{# ng-controller = "GetActionsController" #}
<div class = "user-get-actions">
    <div class = "statements" id = "statements">
        <a href="#statements" ng-click = "heighlight('statements')">
            Statements
            {# icon #}
            {% include "/icons/actions/statement/watche-statements.html" %}
        </a>
    </div>

    <div class = "basket" id = "basket">
        <a href="#basket" ng-click = "heighlight('basket')">
            Basket
            {# icon #}
            {% include "/icons/actions/basket.html" %}
        </a>
    </div>

    <div class = "stars" id = "stars">
        <a href="#stars" ng-click = "heighlight('stars')">
            Stars
            {# icon #}
            {% include "/icons/actions/star.html" %}
        </a>
    </div>
</div>