 {% extends '/templates/main_components/layout.html' %}

{% block resource %}
{#<script src = "/public/js/angular_config/route-config.js"></script>#}
{# main action controller #}
<script src = "/public/js/controllers/user/main-action-controllers/main-action-controller.js"></script>
{# main actoin section's servieces #}
<script src = "/public/js/controllers/user/main-action-controllers/services/post-actions/add-statement/temlate-resources.js"></script>
<script src = "/public/js/controllers/user/user-page-creation-products/common/anchor-creation.js"></script>
<script src= "/public/js/controllers/user/user-page-creation-products/add-statement-href.js"></script>
<script src = "/public/js/controllers/user/user-page-creation-products/statements-href.js"></script>
<script src = "/public/js/services/actions-over-elements/element-activater.js"></script>
<script src = "/public/js/services/validators/url-validator.js"></script>
<script src = "/public/js/controllers/user/user-page-creation-products/user-image-injector.js"></script>
<script src = "/public/js/controllers/user/post-action-controllers/add-statement/file-addition/services/get-file-name.js"></script>
<script src = "/public/js/controllers/user/post-action-controllers/add-statement/add-statement-products/statement-image-addition.js"></script>
<script src = "/public/js/controllers/user/factory/factory.js"></script>
<script src = "/public/js/controllers/user/user-page-controller.js"></script>
{# create css file and include it #}
<link rel="stylesheet" href="/public/style/main-components/user/main-layout-of-user.css">

    <div class = "user-pice-of-art" ng-controller = "UserPageController">
        <section class = "user-state">
            {# user image, connectin date, etc. #}
            <div class = "user-representation">
                {% include "/user/user-components/user-representation.html" %}
            </div>
            
            {# see statements, see stars, see basket, etc. #}
            <div class = "get-actions">
                {% include "/user/user-components/user-get-actions.html" %}
            </div>
        </section>

        <section class = "user-content-management">
            {# add sth to database, change profile, etc. #}
            <div class = "post-actions">
                {% include "/user/user-components/user-post-actions.html" %}
            </div>
            
            {# 
                render statement input form, render user activites: 
                this all need to be done in SPA manner with  help of AngularJS 
            #}
            <div id = "main-action-section" ng-controller = "MainActionCtrl">
                <link rel="stylesheet" href="/public/style/main-components/user/main-action-section/main-action-section.css">
                {% block mainActionSection %}
                
                {% endblock %}
            </div>
        </section>
    </div>
{% endblock %}