@import url(/public/style/config/statement/main-colors.css);
@import url(/public/style/config/statement/sizes.css);

#statement-metadata
{
    padding-left: var(--padding-from-main-box);
}

#statement-metadata > div
{
    width: var(--metadata-box-width);
    box-shadow: 0px 1px 1px #252425;
    padding: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}

#statement-metadata > div > span
{
    font-weight: 700;
    padding-right: 1rem;
}