<link rel="stylesheet" href="/public/style/common/statements/image-section.css">
<div id = "image-section">
    <section id = "enlarged-image">
        <div class = "arrow" ng-click = "previouseImage()">
            {% include "/icons/actions/arrow/angle-left.html" %}
        </div>
        <div id = "large-image">

        </div>
        <div class = "arrow" ng-click = "nextImage()">
            {% include "/icons/actions/arrow/angle-right.html" %}
        </div>
    </section>
    <section id = "small-images">

    </section>
</div>