{% extends "sign-up.html" %}

{% block signUpForm %}
<link rel="stylesheet" href="/public/style/main-components/authentication/authentication-form.css">
<script src = "/public/js/services/authentication/ErrorHighlighter.js"></script>
<script src = "/public/js/services/authentication/FormValidation.js"></script>
<script src = "/public/js/controllers/authentication/authentication-controller.js"></script>
<div class = "authentication-form" ng-controller = "AuthenticationController">
    <form class = "actual-form">
        <div id = "first_name_section">
            <input id = "first_name" type="input" name = "first_name" placeholder = "Write your first name" ng-model = "first_name" required
            value = {{ parsedBody.first_name in parsedBody ? parsedBody.first_name : '' }}>
        </div>
        <div id = "last_name_section">
            <input id = "last_name" type = "input" name = "last_name" placeholder = "Write your last name" ng-model = "last_name" required
            value = {{ parsedBody.last_name in parsedBody ? parsedBody.last_name : '' }}>
        </div>
        <div id = "username_section">
            <input id = "username" type = "input" name = "username" placeholder = "Create username" ng-model = "username" required
            value = {{ parsedBody.username ? parsedBody.username : '' }}>
        </div>
        <div id = "password_section">
            <input id = "password" type = "password" name = "password" placeholder = "Create password", ng-model = "password" required>
        </div>
        <div>
            <button id = "sign-up" class = "primary-btn" ng-click = "signUp('log-in')">
                Sign Up
            </button>
        </div>
    </form>
</div>
{#<div class = "errorMessages">#}
{#    {% if errorMessages %}#}
{#    {% for errorMessage in errorMessages %}#}
{#    <div class = "errorMessage">#}
{#        {{errorMessage}}#}
{#    </div>#}
{#    {% endfor %}#}
{#    {% endif %}#}
{#</div>#}
{% endblock %}