{# ng-controller = "IndHouseCtrl" #}
<div id = "house" class = "used-tab" ng-controller = "IndHouseCtrl">
    <form>
        {# dropdown location input #}
        {% include "/templates/statement/inputs/drop-down-lists/location.html" %}
        {# regular input for building area #}
        {% include "/templates/statement/inputs/regular-inputs/area-of-building.html" %}
        {# regular input for building floors #}
        {% include "/templates/statement/inputs/regular-inputs/floor-amount.html" %}
        {# dropdown list for choosing between rent and sell #}
        {% include "/templates/statement/inputs/drop-down-lists/rent-sell.html" %}
        {% include "/templates/statement/inputs/regular-inputs/area-of-yard.html" %}
        {% include "/templates/statement/inputs/regular-inputs/price.html" %}
        {% include "/templates/statement/inputs/file-input/image-inclusion.html" %}
        {% include "/templates/statement/inputs/textarea-input/statement-description.html" %}
        {# populate this area #}
        {# button for submission#}
        {% include "/templates/statement/buttons/ng-click-button.html" %}
    </form>
</div>

